---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Who the hell is this Thomas Mead guy?"
	pubDate={new Date()}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>Redirecting to https://thomasmead.xyz</p>
	<script>
		setTimeout(() => {
			location.replace('https://thomasmead.xyz');
		}, 30);
	</script>
</Layout>
